<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <head>
   <meta charset="UTF-8">
   <title>Hewwo world! owo</title>
 </head>
 <body>

   <form>
<div class="row align-items-center">
  <div class="col-6 col-md-4"></div>
  <div class="col-6 col-md-4 align-items-center">
  <div class="form-group">
       <h1 style="text-align: center;">InBetween</h1>
    <label for="pointB">Point A</label>
    <input type="pointA" class="form-control" id="pointA" aria-describedby="emailHelp" placeholder="Enter Address">
    <p></p>
    <label for="pointB">Point B</label>
    <input type="pointB" class="form-control" id="pointB" placeholder="Enter Address">
  </div>
  <div class="col-6 col-md-4"></div>
  <button type="submit" class="btn btn-primary">  Submit</button>
</div>
</div>

</form>


 </body>
</html>
